@{
    Layout = "_Layout";
}
@model HospitalProjectFrontEnd.Models.Patient

<!DOCTYPE html>
<html>
<head>
    <title>Hospitallar - Patient Details</title>
</head>
<body>
    <section>
        @if (Model == null)
        {
            <h2>Patient not found.</h2>
        }
        else
        {
            <h2>Patient Details</h2>
            <h2>Patient: @Model.Name</h2>
            <ul>
                <li>ID: @Model.ID</li>
                <li>Name: @Model.Name</li>
                <li>Birthdate: @Model.Birthday</li>
                <li>Status: @Model.Status</li>
                <li>Check-in time: @Model.CheckIn</li>
            </ul>

            <form action="delete/@Model.ID" method="post">
                <input asp-for="ID" value="@Model.ID" disabled hidden />
                <button class="btn btn-danger" type="submit">Delete Patient</button>
            </form>

            <a href="/patients/details/update/@Model.ID" class="btn btn-secondary">Update Patient Details</a>
        }

    </section>
</body>
</html>