@{
    Layout = "_Layout";
}
@model HospitalProjectFrontEnd.Models.Patient

<!DOCTYPE html>
<html>
<head>
    <title>Hospitaller - Update Patient</title>
</head>
<body>
    <section>
        @if (Model == null)
        {
            <h2>Patient not found.</h2>
        }
        else
        {
            <h2>Patient Details</h2>
            <h2>Patient: @Model.Name</h2>
            <ul>
                <li>ID: @Model.ID</li>
                <li>Name: @Model.Name</li>
                <li>Birthdate: @Model.Birthday</li>
                @switch (Model.Status)
                {
                    case 0:
                        <li class="text-success">Status: Stable</li>
                        break;
                    case 1:
                        <li class="text-warning">Status: Unstable</li>
                        break;
                    case 2:
                        <li class="text-danger">Status: Critical</li>
                        break;
                    case 3:
                        <li class="text-secondary">Status: Deceased</li>
                        break;
                    default:
                        <li>Status: Unknown</li>
                        break;
                }
                @* Only show times that are not within a year of time zero (probably set to default values)*@
                @if (Model.CheckIn < DateTime.Now.AddYears(1 - DateTime.Now.Year))
                {
                    <li>Check-in time not found.</li>
                }
                else
                {
                    <li>Checked in: @Model.CheckIn.AddHours(-7)</li>
                }
            </ul>

            <form action="@Model.ID" method="post">
                <input asp-for="ID" value="@Model.ID" hidden />
                <label>Name</label>
                <input asp-for="Name" value="@Model.Name" />
                <br />
                <label>Birthday</label>
                <input asp-for="Birthday" value="@Model.Birthday" />
                <br />
                <label>Status</label>
                <select asp-for="Status">
                    <option value="0">0 - Stable</option>
                    <option value="1">1 - Unstable</option>
                    <option value="2">2 - Critical</option>
                    <option value="3">3 - Deceased</option>
                    <option value="4">4 - Unknown</option>
                </select>
                <br />
                <input asp-for="CheckIn" type="text" value="@Model.CheckIn" hidden />
                <button class="btn btn-secondary" type="submit">Update Patient Details</button>
            </form>
        }

    </section>
</body>
</html>
